@page "/charts"
@inject IJSRuntime js
@inject HttpClient Http
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.LineChart
@using WindsorPricesMonitoringWeb.Shared.Model
@*
<div>
    <canvas id="myChart"></canvas>
</div>*@

@code {
    protected override async Task OnInitializedAsync()
    {
        var pricesByApartmentType = await Http.GetFromJsonAsync<PriceOnDay[]>("Apartment/type/b3");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        //await js.InvokeVoidAsync("createChart");
    }
}
