@page "/"
@using WindsorPricesMonitoringWeb.Shared
@using System.Threading.Tasks
@inject HttpClient Http

<PageTitle>Available units</PageTitle>

@if (oneBedroomUnits is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>1 Bedroom</div>
    <UnitsList Units="oneBedroomUnits"/>
    <div>2 Bedroom</div>
    <UnitsList Units="twoBedroomUnits"/>
}

@code {
    private IEnumerable<Unit> oneBedroomUnits;
    private IEnumerable<Unit> twoBedroomUnits;

    protected override async Task OnInitializedAsync()
    {
        var units = await Http.GetFromJsonAsync<Unit[]>("Unit");

        if(units is not null && units.Any())
        {
            oneBedroomUnits = units.Where(x => x.BedsCount == 1);
            twoBedroomUnits = units.Where(x => x.BedsCount == 2);
        }
    }
}