@page "/"
@using WindsorPricesMonitoringWeb.Shared
@using System.Threading.Tasks
@inject HttpClient Http

<PageTitle>Available units</PageTitle>

@if (units is null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach(var unitGroups in units.GroupBy(x => x.BedsCount).OrderBy(x => x.Key))
    {
        <div>@unitGroups.Key Bedroom</div>
        <UnitsList Units="unitGroups"/>
    }
}

@code {
    private IEnumerable<Unit> units;

    protected override async Task OnInitializedAsync()
    {
        units = await Http.GetFromJsonAsync<Unit[]>("Unit");
    }
}