@page "/"
@using WindsorPricesMonitoringWeb.Shared
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (units == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Number</th>
                <th>Date Available</th>
                <th>Minimum Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var unit in units)
            {
                <tr>
                    <td>@unit.FullNumber</td>
                    <td>@unit.DateAvailable?.ToString("dd.MM.yyyy")</td>
                    <td>@unit.MinimumPrice</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Unit[]? units;

    protected override async Task OnInitializedAsync()
    {
        units = await Http.GetFromJsonAsync<Unit[]>("Unit");
    }
}